<% comedians.each do |com| %>

<div class="individual_comedian">

</div>
  <ul>
    <li><%= com.name %></li>
    <li><%= com.age %></li>
    <li><%= com.city %></li>
    <li><%= com.specials %></li>
  </ul>

<% end %>
